@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom_logo_white {
  filter: invert(81%) sepia(53%) saturate(0%) hue-rotate(226deg)
    brightness(114%) contrast(100%);
}

.custom_logo_orange {
  filter: invert(62%) sepia(21%) saturate(1646%) hue-rotate(348deg)
    brightness(88%) contrast(81%);
}

.custom_logo_white {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(131deg)
    brightness(120%) contrast(118%);
}

.custom_border_radius-right {
  border-radius: 0 350px 350px 0;
}

.custom_border_radius-left {
  border-radius: 350px 0 0 350px;
}

.custom_border_radius-bottom {
  border-radius: 0 0 200px 200px;
}

.btn_turquoise {
  background-color: #14a998;
}
.btn_beige {
  background-color: #d7c094;
}
.btn_orange {
  background-color: #ce822f;
}
